body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(22, 22, 36);
}
  
  /* Hero Section */
  
#Hero-Section {
    background-image: url("../img/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
  
  /* Mis trabajos */
  
#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Contacto */
  
#Contacto form label {
    font-weight: 700;
    color: white;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  .my-5 {
    color: white;
  }
  
  .titulo {
    font-family: sans-serif;
    font-size: 20px;
  }

  .subtitulo {
    font-family: sans-serif;
    font-size: 15px;
  }
  
  .fondo-color {
    color: white;
}





  